  :host{
    display: block;
  }


  .button{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    padding: 1rem;
    box-sizing: border-box;
    transition: all 300ms ease;
    font-weight: bold;
      &:hover{
        background-color: white;
        color: black
      }
  }