<h2 class="header">Enter Your Credentials</h2>
 <img src="../../../assets/login-logo.png" class="login-logo">

 <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form">

      
      
     <app-input placeholder="Email" class="input"
                type="text"
                formControlName="email">
    </app-input>
     <app-input placeholder="Password" class="input"
                type="password"
                formControlName="password">
    </app-input>

    
    <app-button type="submit" class=button @buttonAnimation>LOGIN</app-button>
   
   <span class=Invalid-email @error *ngIf="emailError">Not a valid Email!</span>
      
</form>
     
    

<app-loading *ngIf="showLoading$ | async">
</app-loading>
    