:host{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}


.total-contracts{
  background-color: black;
  width: 100%;
  height: 100%;
  top: -1%;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}

.contract{
  box-sizing: border-box;
  z-index: 200;
  height: 50%;
}

.total-button{
  width: 30%;
  background-color: black;
}


.close-button{
  width: 10%;
  background-color: black;
}
