:host{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.container{
  display: flex;
  flex-direction: column;
  width: 80%;
  
}

.paragraph{
  width: 35%;
}


.header-h1{
  width: max-content;
  padding-bottom: 10px;
  border-bottom: 3px solid rgba(36, 122, 235, 0.788);
}



.button{
  width: 20%;
  height: 50px;
  margin-top: 1rem;
}