<div class="container">
      <h1 class="header-h1" @titleAnimation>Make your life easier with Smart Contract</h1>
      <h2 @fadeOut>Save your paperwork and save the trees</h2>
      <p  @fadeOut class="paragraph">It takes just a couple of minutes to register a contract
        and get things done. No paper stacks on your desk anymore.
      </p>
      <app-button (click)="goToLogin()"
                  @buttonAnimation
                  class="button">
        LOGIN TO GET STARTED
      </app-button>
  
</div>
