:host{
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: hsl(0deg 0% 97%);
}

.logo{
  width: 100px;
  height: 50px;
}
  

.registration{
  position: absolute;
  left: 30%;
  width: 15%;
  top: 20%;
  
}
  