:host{
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // background-color: hsl(0deg 0% 97%);
  // background-color: hsl(179deg 30% 35%);
  background-color: white;
}

.logo{
  width: 300px;
  height: 80px;
  object-fit: contain;
}
  

.header{
  color: #0a81f8;
  letter-spacing: 5px;
  background-color: rgba(0, 0, 0, 0.075);
  padding: 5px;
}

  

.registration{
  position: absolute;
  left: 30%;
  width: 15%;
  top: 20%;
  
}
  