

<img class="logo" 
    src="../../../assets/agreement.png" 
    alt="contract-logo">

<ng-container *ngIf="!(path('/') || path('/login'))">
    
    <nav class="nav">
           <app-nav-link path="/home" 
                [exactPathMatch]="{exact: true}">
               HOME
           </app-nav-link>
           <app-nav-link path="/home/registration">
               REGISTER A CONTRACT
           </app-nav-link>
           <app-nav-link path="/home/contracts">
               CONTRACTS
           </app-nav-link>
           <app-nav-link path="/home/clients">
               CLIENTS
           </app-nav-link>
           <app-nav-link path="/home/advisors">
               ADVISORS
           </app-nav-link>
    </nav>

   <app-button class="logout-button"
               (click)="logout()">
      LOGOUT
   </app-button>
</ng-container>


<h2 class="header" *ngIf="path('/') || path('/login')">
  CONTRACT MANAGEMENT
</h2>

  
