<img class="logo" 
    src="../../../assets/smart-contract.png" 
    alt="contract-logo">

<h2 class="header">
  CONTRACT MANAGEMENT
</h2>

<!--   
  <ng-container *ngIf="!(showButton('/home') || showButton('/login'))">
  
     <app-registrations class="registration">
        <app-button (click)="showButtons()">
            REGISTRATION
        </app-button>
        <ng-container *ngIf="buttonsState">
            <app-button (click)="changeRoute('/home')">HOME</app-button>
            <app-button *ngIf="!showButton('/home/registration')" 
                        (click)="changeRoute('/home/registration')">
                  REGISTER A CONTRACT
            </app-button>
            <app-button *ngIf="!showButton('/home/contracts')" 
                        (click)="changeRoute('/home/contracts')">
                  CONTRACTS
            </app-button>
            <app-button *ngIf="!showButton('/home/advisors')"
                        (click)="changeRoute('/home/advisors')">
                  ADVISORS
            </app-button>
            <app-button *ngIf="!showButton('/home/clients')"
                        (click)="changeRoute('/home/clients')">
                  CLIENTS
            </app-button>
            <app-button (click)="logout()">LOGOUT</app-button>
         </ng-container>
    </app-registrations> 

  </ng-container> -->
