:host{
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: hsl(0deg 0% 97%);
  // color: rgb(0, 179, 250);
  // color: black
}

.logo{
  width: 100px;
  height: 50px;
}
  
  