<app-card class="card"
      imagePath="../../../../assets/one.png"
      title="enter contract details">
      
    Start by simply entering a contract details to 
    register it and follow the second step.
</app-card>

<app-card class="card"
    imagePath="../../../../assets/two.png"
    title="enter client details">
   Enter all the required details about the client
   and move forward to the next final step.
</app-card>

<app-card class="card"
    imagePath="../../../../assets/three.png"
    title="enter advisor details">

  Now, enter all the required details about the advisor
  who is registering the contract and that's it,
  you are done.
</app-card>
