
<app-progress-indicator 
  imagePath="../../../../assets/one.png">
  Contract Details
</app-progress-indicator>


<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form">
  <!-- App-Input is a custom input which implements ControlValueAccessor Interface -->
 
 <div class="first-two-input">
  <app-input class="input" 
            placeholder="Registration Number"
            type="text"
            formControlName="registrationNumber">
  </app-input>
  <app-input class="input" 
            placeholder="Institution"
            type="text"
            formControlName="institution">
  </app-input>
 </div> 
  <!-- Conclusion date is today date, -->
    <h4>Conclusion Date:</h4>
  <div class="dates" formGroupName="conclusionDate">
       <app-input class="date" placeholder="Day"
                  type="number"
                  [min]="dates.minDay"
                  [max]="dates.minDay"
                  formControlName="day">
        </app-input>
       <app-input class="date" placeholder="Month"
                  type="number"
                  [min]="dates.minMonth"
                  [max]="dates.minMonth"
                  formControlName="month">
        </app-input>
       <app-input class="date" placeholder="Year"
                  type="number"
                  [min]="dates.minYear"
                  [max]="dates.minYear"
                  formControlName="year">
        </app-input>
        <span *ngIf="conclusionDate.dirty && conclusionDate.invalid"
              class="conclusion-date-error" @error>
            Conclusion Date must be today date!
        </span>
  </div>
  
  <!-- Validity start from the next day of Conclusion Date: -->
    <h4>Validity Date:</h4>
  <div class="dates" formGroupName="validityDate">
       <app-input class="date" placeholder="Day"
                  type="number"
                  [min]="dates.minDay + 1"
                  [max]="dates.maxDay"
                  formControlName="day">
       </app-input>
       <app-input class="date" placeholder="Month"
                  type="number"
                  [min]="dates.minMonth"
                  [max]="dates.maxMonth"
                  formControlName="month">
       </app-input>
       <app-input class="date" placeholder="Year"
                  type="number"
                  [min]="dates.minYear"
                  [max]="dates.maxYear"
                  formControlName="year">
       </app-input>
        <span *ngIf="validityDate.dirty && validityDate.invalid"
            class="conclusion-date-error" @error>
            Validity Date must be the next date of Conclusion Date!
        </span>
  </div>
  
  <!-- Termination Should be minimum 1 year -->
    <h4>Termination Date:</h4>
  <div class="dates" formGroupName="terminationDate">
       <app-input class="date" placeholder="Day"
                  type="number"
                  [min]="dates.minDay + 1"
                  [max]="dates.maxDay"
                  formControlName="day">
       </app-input>
       <app-input class="date" placeholder="Month"
                  type="number"
                  [min]="dates.minMonth"
                  [max]="dates.maxMonth"
                  formControlName="month">
       </app-input>
       <app-input class="date" placeholder="Year"
                  type="number"
                  [min]="dates.minYear + 1"
                  [max]="dates.maxYear"
                  formControlName="year">
       </app-input>
        <span *ngIf="terminationDate.dirty && terminationDate.invalid"
            class="conclusion-date-error" @error>
            Termination Date must be minimum 1 year from the Validity Date!
        </span>
  </div>
  <!-- show a message if the user clicked the NEXT button without filling in the all the form -->
  <h5 *ngIf="showError && formGroup.dirty"
      class="error" @error>
    Please fill-in all the fields correctly!
  </h5>
    <app-button type="submit" class="submit-button">NEXT</app-button>
</form>



    
