



<h3 class="registration-header">CONTRACT REGISTRATION</h3>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form">
  <!-- App-Input is a custom input which implements ControlValueAccessor Interface -->
  <app-input class="input" 
            placeholder="Registration Number"
            type="text"
            formControlName="registrationNumber">
  </app-input>
  <app-input class="input" 
            placeholder="Institution"
            type="text"
            formControlName="institution">
  </app-input>

  <div class="dates" formGroupName="conclusionDate">
    <p>Conclusion Date:</p>
       <app-input class="date" placeholder="Day"
                  type="number"
                  [min]="dates.minDay"
                  [max]="dates.minDay"
                  formControlName="day">
        </app-input>
       <app-input class="date" placeholder="Month"
                  type="number"
                  [min]="dates.minMonth"
                  [max]="dates.minMonth"
                  formControlName="month">
        </app-input>
       <app-input class="date" placeholder="Year"
                  type="number"
                  [min]="dates.minYear"
                  [max]="dates.minYear"
                  formControlName="year">
        </app-input>
  </div>
  
  
  <div class="dates" formGroupName="validityDate">
    <p>Validity Date:</p>
       <app-input class="date" placeholder="Day"
                  type="number"
                  [min]="dates.minDay + 1"
                  [max]="dates.maxDay"
                  formControlName="day">
       </app-input>
       <app-input class="date" placeholder="Month"
                  type="number"
                  [min]="dates.minMonth"
                  [max]="dates.maxMonth"
                  formControlName="month">
       </app-input>
       <app-input class="date" placeholder="Year"
                  type="number"
                  [min]="dates.minYear"
                  [max]="dates.maxYear"
                  formControlName="year">
       </app-input>
  </div>
  
  <div class="dates" formGroupName="terminationDate">
    <p>Termination Date:</p>
       <app-input class="date" placeholder="Day"
                  type="number"
                  [min]="dates.minDay + 1"
                  [max]="dates.maxDay"
                  formControlName="day">
       </app-input>
       <app-input class="date" placeholder="Month"
                  type="number"
                  [min]="dates.minMonth"
                  [max]="dates.maxMonth"
                  formControlName="month">
       </app-input>
       <app-input class="date" placeholder="Year"
                  type="number"
                  [min]="dates.minYear + 1"
                  [max]="dates.maxYear"
                  formControlName="year">
       </app-input>
  </div>
  
  <p class="error" *ngIf="formGroup.dirty && formGroup.invalid">
    Please fill-in all the fields correctly!
  </p>
    <app-button type="submit" class="submit-button">NEXT</app-button>
</form>



    
