
<form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
     <app-input class="input"
             type="text" 
             placeholder="Name"
             formControlName="name"
             >
      </app-input>
     <app-input class="input"
             type="text" 
             placeholder="Surname"
             formControlName="surname"
             >
      </app-input>
  <!-- Client and Advisor both should be minimum 18 years old and maximum 60 years old-->
     <app-input class="input"
             type="number" 
             [min]="ages.min"
             [max]="ages.max"
             placeholder="Age"
             formControlName="age"
             >
      </app-input>
     <app-input class="input"
             type="text" 
             placeholder="Email"
             formControlName="email"
             >
      </app-input>
     <app-input class="input"
             type="text" 
             placeholder="Telephone Number"
             formControlName="telephoneNumber"
             >
      </app-input>
     <app-input class="input"
             type="text" 
             placeholder="National Identification Number"
             formControlName="nationalIdentificationNumber"
             >
      </app-input>
      
      <!-- Here the button component will be rendered -->
      <div class="submit-button">
          <ng-content></ng-content>
      </div>
          
</form>
