<app-navigation></app-navigation>
<!-- The only time components can overflow when there are multiple contracts 
     in the contracts component, so the background image should not be shown -->
<app-banner *ngIf="route.url !== '/home/contracts'"></app-banner> 

<ng-container *ngIf="showModal$ | async">
    <app-logout-modal>
    </app-logout-modal>
</ng-container>
    

<div class="router-container" [@routeAnimation]="animateRoute(router)">
    <router-outlet #router="outlet"></router-outlet>
</div>



<app-can-deactivate-modal 
     *ngIf="navigationService.showModal$ | async">
</app-can-deactivate-modal>
    