:host{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  position: relative;
}


  

.button{
  width: 20%;
  background-color: black;
  align-self: center;
} 



.contract-container{
  background-color: black;
  width: 100%;
  height: 112%;
  top: -12%;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 100;

}


.contract{
  height: 45%;
  z-index: 200;
}

  
  
  

