
<ul class=table>
   <!-- Details Table Headers -->
      <app-table-header class="table-header">NAME</app-table-header>
      <app-table-header class="table-header">SURNAME</app-table-header>
      <app-table-header class="table-header">AGE</app-table-header>
      <app-table-header class="table-header">EMAIL</app-table-header>
      <app-table-header class="table-header">TELEPHONE NUMBER</app-table-header>
      <app-table-header class="table-header">NATIONAL IDENTITY NUMBER</app-table-header>
      
     <!-- Details Table Data -->

      <app-table-data class="table-data">{{ details.name }}</app-table-data>
      <app-table-data class="table-data">{{ details.surname }}</app-table-data>
      <app-table-data class="table-data">{{ details.age }}</app-table-data>
      <app-table-data class="table-data">{{ details.email }}</app-table-data>
      <app-table-data class="table-data">{{ details.telephoneNumber }}</app-table-data>
      <app-table-data class="table-data">{{ details.nationalIdentificationNumber }}</app-table-data>

</ul>

<ng-content></ng-content>



